*
{
    padding :0;
    margin : 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.register-container{
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./reg2.jpg') no-repeat;
    background-size: 100%;
    background-position: center;
}

.register{
    width: 420px;
    background-color: rgba(235, 217, 217, 0.089);
    color: #fff;
    border: 2px solid #a79c9c1e;
    border-radius: 20px;
    padding: 30px 40px;
}

.register h1{
    text-align: center;
    font-size: 36px;
    font-family: cursive;
}

.register .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    border-color: #fff;
    background: transparent;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    border: 1px solid #fff;
}

.input-box input::placeholder{
    color: #fff;

}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}


.register .btn{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    box-shadow: 0 0 15px rgb(0,0,0, -1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.register .btn:hover{
    background: greenyellow;
}

.login-link{
    text-align: center;
    padding-top: 15px ;
}
.login-link a{
    font-size: 18px;
    color: rgb(218, 107, 17);
}

.login-link a:hover{
    color: rgb(17, 212, 115);
}

